<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习布局</title>
	<link rel="stylesheet" href="css/style_3.css">
</head>
<body>
	<p>实现一个三栏布局，左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化</p>
	<h1>float</h1>
	<div class="box1">
		<div class="box1-left">固定宽度</div>
		<div class="box1-right">固定宽度</div>
		<div class="box1-mid">自适应</div>
	</div>
	<h1>position</h1>
	<div class="box2">
		<div class="box2-left">固定宽度</div>
		<div class="box2-right">固定宽度</div>
		<div class="box2-mid">自适应</div>
	</div>
	<h1>flexbox</h1>
	<div class="box3">
		<div class="box3-left">固定宽度</div>
		<div class="box3-mid">自适应</div>
		<div class="box3-right">固定宽度</div>
	</div>
	<hr/>
	<p>实现一个三栏布局，左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化</p>
	<h1>float</h1>
	<div class="box4">
		<div class="box4-left">固定宽度</div>
		<div class="box4-mid">固定宽度</div>
		<div class="box4-right">自适应</div>
	</div>
	<h1>position</h1>
	<div class="box5">
		<div class="box5-left">固定宽度</div>
		<div class="box5-mid">固定宽度</div>
		<div class="box5-right">自适应</div>
	</div>
	<h1>flexbox</h1>
	<div class="box6">
		<div class="box6-left">固定宽度</div>
		<div class="box6-mid">固定宽度</div>
		<div class="box6-right">自适应</div>
	</div>
</body>
</html>