<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学习布局</title>
	<link rel="stylesheet" href="css/style_1.css">
</head>
<body>
	<p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
	<h1>float</h1>
	<div class="box1">
		<div class="box1-left"></div>
		<div class="box1-right"></div>
	</div>
	<h1>position</h1>
	<div class="box2">
		<div class="box2-left"></div>
		<div class="box2-right"></div>
	</div>
	<h1>flexbox</h1>
	<div class="box3">
		<div class="box3-left"></div>
		<div class="box3-right"></div>
	</div>
</body>
</html>