/*box1 float*/
.box1 {
	height: 200px;
	background: #aaa;
}
.box1-left {
	float: left;
	width: 200px;
	height: 200px;
	background: red;
}
.box1-mid {
	height: 200px;
	overflow: hidden;
	background: green;
}
.box1-right {
	float: right;
	width: 200px;
	height: 200px;
	background: blue;
}
/*box2 position*/
.box2 {
	position: relative;
	height: 200px;
	background: #aaa;
}
.box2-left {
	position: absolute;
	height: 200px;
	width: 200px;
	background: red;
}
.box2-right {
	position: absolute;
	right: 0;
	width: 200px;
	height: 200px;
	background: blue;
}
.box2-mid {
	margin: 0 200px;
	height: 200px;
	background: green;
}
/*box3 flexbox*/
.box3 {
	height: 200px;
	background: #aaa;
	display: flex;
}
.box3-left {
	width: 200px;
	height: 200px;
	background: red;
}
.box3-mid {
	flex: 1;
	height: 200px;
	background: green;
}
.box3-right {
	width: 200px;
	height: 200px;
	background: blue;
}
/*box4 float*/
.box4 {
	height: 200px;
	background: #aaa;
}
.box4-left ,.box4-mid {
	float: left;
	height: 200px;
	width: 200px;
}
.box4-left {
	background: red;
}
.box4-mid {
	background: green;
}
.box4-right {
	height: 200px;
	overflow: hidden;
	background: blue;
}
/*box5 position*/
.box5 {
	position: relative;
	height: 200px;
	background: #aaa;
}
.box5-left {
	position: absolute;
	width: 200px;
	height: 200px;
	background: red;
}
.box5-mid {
	position: absolute;
	left: 200px;
	width: 200px;
	height: 200px;
	background: green;
}
.box5-right {
	height: 200px;
	margin-left: 400px;
	background: blue;
}
/*box6 flexbox*/
.box6 {
	height: 200px;
	background: #aaa;
	display: flex;
}
.box6-left {
	width: 200px;
	height: 200px;
	background: red;
}
.box6-mid {
	width: 200px;
	height: 200px;
	background: green;
}
.box6-right {
	flex: 1;
	height: 200px;
	background: blue;
}